body{
  margin:0;
  background:#0f172a;
  font-family:system-ui;
  color:white;
}

.card{
  max-width:420px;
  margin:20px auto;
  padding:20px;
  background:#020617;
  border-radius:16px;
  text-align:center;
}

input,textarea{
  width:100%;
  padding:12px;
  margin:6px 0;
  border-radius:10px;
  border:none;
}

button{
  width:100%;
  padding:12px;
  background:#3b82f6;
  color:white;
  border:none;
  border-radius:12px;
}

.avatar{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #3b82f6;
}

.socials a{
  display:inline-block;
  margin:6px;
  color:#60a5fa;
  text-decoration:none;
}
