body{
  background:#0f172a;
  color:white;
  font-family:system-ui;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.card{
  background:#020617;
  padding:25px;
  border-radius:16px;
  width:100%;
  max-width:420px;
  box-shadow:0 20px 40px rgba(0,0,0,.4);
  animation:fade .6s ease;
}

.center{text-align:center}

@keyframes fade{
  from{opacity:0;transform:translateY(20px)}
  to{opacity:1}
}

input,textarea{
  width:100%;
  padding:12px;
  margin:8px 0;
  border:none;
  border-radius:8px;
}

button{
  width:100%;
  padding:12px;
  background:#3b82f6;
  color:white;
  border:none;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
}

.avatar{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #3b82f6;
}

.socials a{
  display:inline-block;
  margin:6px;
  color:#60a5fa;
  text-decoration:none;
}
